<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vnf.flow.dao.BO_FILEDSVALUEMapper">
  <resultMap id="BaseResultMap" type="com.vnf.flow.model.BO_FILEDSVALUE">
    <id column="SEQUENCE" jdbcType="INTEGER" property="sequence" />
    <result column="PROJECTID" jdbcType="INTEGER" property="projectid" />
    <result column="CREATEBY" jdbcType="VARCHAR" property="createby" />
    <result column="BRANCH" jdbcType="VARCHAR" property="branch" />
    <result column="DATETIME" jdbcType="VARCHAR" property="datetime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CURRDEPT" jdbcType="VARCHAR" property="currdept" />
    <result column="LASTDATE" jdbcType="VARCHAR" property="lastdate" />
    <result column="QUEUENUM" jdbcType="VARCHAR" property="queuenum" />
    <result column="FIELD1" jdbcType="LONGVARCHAR" property="field1" />
    <result column="FIELD2" jdbcType="LONGVARCHAR" property="field2" />
    <result column="FIELD3" jdbcType="LONGVARCHAR" property="field3" />
    <result column="FIELD4" jdbcType="LONGVARCHAR" property="field4" />
    <result column="FIELD5" jdbcType="LONGVARCHAR" property="field5" />
    <result column="FIELD6" jdbcType="LONGVARCHAR" property="field6" />
    <result column="FIELD7" jdbcType="LONGVARCHAR" property="field7" />
    <result column="FIELD8" jdbcType="LONGVARCHAR" property="field8" />
    <result column="FIELD9" jdbcType="LONGVARCHAR" property="field9" />
    <result column="FIELD10" jdbcType="LONGVARCHAR" property="field10" />
    <result column="FIELD11" jdbcType="LONGVARCHAR" property="field11" />
    <result column="FIELD12" jdbcType="LONGVARCHAR" property="field12" />
    <result column="FIELD13" jdbcType="LONGVARCHAR" property="field13" />
    <result column="FIELD14" jdbcType="LONGVARCHAR" property="field14" />
    <result column="FIELD15" jdbcType="LONGVARCHAR" property="field15" />
    <result column="FIELD16" jdbcType="LONGVARCHAR" property="field16" />
    <result column="FIELD17" jdbcType="LONGVARCHAR" property="field17" />
    <result column="FIELD18" jdbcType="LONGVARCHAR" property="field18" />
    <result column="FIELD19" jdbcType="LONGVARCHAR" property="field19" />
    <result column="FIELD20" jdbcType="LONGVARCHAR" property="field20" />
    <result column="FIELD21" jdbcType="LONGVARCHAR" property="field21" />
    <result column="FIELD22" jdbcType="LONGVARCHAR" property="field22" />
    <result column="FIELD23" jdbcType="LONGVARCHAR" property="field23" />
    <result column="FIELD24" jdbcType="LONGVARCHAR" property="field24" />
    <result column="FIELD25" jdbcType="LONGVARCHAR" property="field25" />
    <result column="FIELD26" jdbcType="LONGVARCHAR" property="field26" />
    <result column="FIELD27" jdbcType="LONGVARCHAR" property="field27" />
    <result column="FIELD28" jdbcType="LONGVARCHAR" property="field28" />
    <result column="FIELD29" jdbcType="LONGVARCHAR" property="field29" />
    <result column="FIELD30" jdbcType="LONGVARCHAR" property="field30" />
    <result column="FIELD31" jdbcType="LONGVARCHAR" property="field31" />
    <result column="FIELD32" jdbcType="LONGVARCHAR" property="field32" />
    <result column="FIELD33" jdbcType="LONGVARCHAR" property="field33" />
    <result column="FIELD34" jdbcType="LONGVARCHAR" property="field34" />
    <result column="FIELD35" jdbcType="LONGVARCHAR" property="field35" />
    <result column="FIELD36" jdbcType="LONGVARCHAR" property="field36" />
    <result column="FIELD37" jdbcType="LONGVARCHAR" property="field37" />
    <result column="FIELD38" jdbcType="LONGVARCHAR" property="field38" />
    <result column="FIELD39" jdbcType="LONGVARCHAR" property="field39" />
    <result column="FIELD40" jdbcType="LONGVARCHAR" property="field40" />
    <result column="FIELD41" jdbcType="LONGVARCHAR" property="field41" />
    <result column="FIELD42" jdbcType="LONGVARCHAR" property="field42" />
    <result column="FIELD43" jdbcType="LONGVARCHAR" property="field43" />
    <result column="FIELD44" jdbcType="LONGVARCHAR" property="field44" />
    <result column="FIELD45" jdbcType="LONGVARCHAR" property="field45" />
    <result column="FIELD46" jdbcType="LONGVARCHAR" property="field46" />
    <result column="FIELD47" jdbcType="LONGVARCHAR" property="field47" />
    <result column="FIELD48" jdbcType="LONGVARCHAR" property="field48" />
    <result column="FIELD49" jdbcType="LONGVARCHAR" property="field49" />
    <result column="FIELD50" jdbcType="LONGVARCHAR" property="field50" />
    <result column="FIELD51" jdbcType="LONGVARCHAR" property="field51" />
    <result column="FIELD52" jdbcType="LONGVARCHAR" property="field52" />
    <result column="FIELD53" jdbcType="LONGVARCHAR" property="field53" />
    <result column="FIELD54" jdbcType="LONGVARCHAR" property="field54" />
    <result column="FIELD55" jdbcType="LONGVARCHAR" property="field55" />
    <result column="FIELD56" jdbcType="LONGVARCHAR" property="field56" />
    <result column="FIELD57" jdbcType="LONGVARCHAR" property="field57" />
    <result column="FIELD58" jdbcType="LONGVARCHAR" property="field58" />
    <result column="FIELD59" jdbcType="LONGVARCHAR" property="field59" />
    <result column="FIELD60" jdbcType="LONGVARCHAR" property="field60" />
    <result column="FIELD61" jdbcType="LONGVARCHAR" property="field61" />
    <result column="FIELD62" jdbcType="LONGVARCHAR" property="field62" />
    <result column="FIELD63" jdbcType="LONGVARCHAR" property="field63" />
    <result column="FIELD64" jdbcType="LONGVARCHAR" property="field64" />
    <result column="FIELD65" jdbcType="LONGVARCHAR" property="field65" />
    <result column="FIELD66" jdbcType="LONGVARCHAR" property="field66" />
    <result column="FIELD67" jdbcType="LONGVARCHAR" property="field67" />
    <result column="FIELD68" jdbcType="LONGVARCHAR" property="field68" />
    <result column="FIELD69" jdbcType="LONGVARCHAR" property="field69" />
    <result column="FIELD70" jdbcType="LONGVARCHAR" property="field70" />
    <result column="FIELD71" jdbcType="LONGVARCHAR" property="field71" />
    <result column="FIELD72" jdbcType="LONGVARCHAR" property="field72" />
    <result column="FIELD73" jdbcType="LONGVARCHAR" property="field73" />
    <result column="FIELD74" jdbcType="LONGVARCHAR" property="field74" />
    <result column="FIELD75" jdbcType="LONGVARCHAR" property="field75" />
    <result column="FIELD76" jdbcType="LONGVARCHAR" property="field76" />
    <result column="FIELD77" jdbcType="LONGVARCHAR" property="field77" />
    <result column="FIELD78" jdbcType="LONGVARCHAR" property="field78" />
    <result column="FIELD79" jdbcType="LONGVARCHAR" property="field79" />
    <result column="FIELD80" jdbcType="LONGVARCHAR" property="field80" />
    <result column="FIELD81" jdbcType="LONGVARCHAR" property="field81" />
    <result column="FIELD82" jdbcType="LONGVARCHAR" property="field82" />
    <result column="FIELD83" jdbcType="LONGVARCHAR" property="field83" />
    <result column="FIELD84" jdbcType="LONGVARCHAR" property="field84" />
    <result column="FIELD85" jdbcType="LONGVARCHAR" property="field85" />
    <result column="FIELD86" jdbcType="LONGVARCHAR" property="field86" />
    <result column="FIELD87" jdbcType="LONGVARCHAR" property="field87" />
    <result column="FIELD88" jdbcType="LONGVARCHAR" property="field88" />
    <result column="FIELD89" jdbcType="LONGVARCHAR" property="field89" />
    <result column="FIELD90" jdbcType="LONGVARCHAR" property="field90" />
    <result column="FIELD91" jdbcType="LONGVARCHAR" property="field91" />
    <result column="FIELD92" jdbcType="LONGVARCHAR" property="field92" />
    <result column="FIELD93" jdbcType="LONGVARCHAR" property="field93" />
    <result column="FIELD94" jdbcType="LONGVARCHAR" property="field94" />
    <result column="FIELD95" jdbcType="LONGVARCHAR" property="field95" />
    <result column="FIELD96" jdbcType="LONGVARCHAR" property="field96" />
    <result column="FIELD97" jdbcType="LONGVARCHAR" property="field97" />
    <result column="FIELD98" jdbcType="LONGVARCHAR" property="field98" />
    <result column="FIELD99" jdbcType="LONGVARCHAR" property="field99" />
    <result column="FIELD100" jdbcType="LONGVARCHAR" property="field100" />
    <result column="FIELD101" jdbcType="LONGVARCHAR" property="field101" />
    <result column="FIELD102" jdbcType="LONGVARCHAR" property="field102" />
    <result column="FIELD103" jdbcType="LONGVARCHAR" property="field103" />
    <result column="FIELD104" jdbcType="LONGVARCHAR" property="field104" />
    <result column="FIELD105" jdbcType="LONGVARCHAR" property="field105" />
    <result column="FIELD106" jdbcType="LONGVARCHAR" property="field106" />
    <result column="FIELD107" jdbcType="LONGVARCHAR" property="field107" />
    <result column="FIELD108" jdbcType="LONGVARCHAR" property="field108" />
    <result column="FIELD109" jdbcType="LONGVARCHAR" property="field109" />
    <result column="FIELD110" jdbcType="LONGVARCHAR" property="field110" />
    <result column="FIELD111" jdbcType="LONGVARCHAR" property="field111" />
    <result column="FIELD112" jdbcType="LONGVARCHAR" property="field112" />
    <result column="FIELD113" jdbcType="LONGVARCHAR" property="field113" />
    <result column="FIELD114" jdbcType="LONGVARCHAR" property="field114" />
    <result column="FIELD115" jdbcType="LONGVARCHAR" property="field115" />
    <result column="FIELD116" jdbcType="LONGVARCHAR" property="field116" />
    <result column="FIELD117" jdbcType="LONGVARCHAR" property="field117" />
    <result column="FIELD118" jdbcType="LONGVARCHAR" property="field118" />
    <result column="FIELD119" jdbcType="LONGVARCHAR" property="field119" />
    <result column="FIELD120" jdbcType="LONGVARCHAR" property="field120" />
    <result column="FIELD121" jdbcType="LONGVARCHAR" property="field121" />
    <result column="FIELD122" jdbcType="LONGVARCHAR" property="field122" />
    <result column="FIELD123" jdbcType="LONGVARCHAR" property="field123" />
    <result column="FIELD124" jdbcType="LONGVARCHAR" property="field124" />
    <result column="FIELD125" jdbcType="LONGVARCHAR" property="field125" />
    <result column="FIELD126" jdbcType="LONGVARCHAR" property="field126" />
    <result column="FIELD127" jdbcType="LONGVARCHAR" property="field127" />
    <result column="FIELD128" jdbcType="LONGVARCHAR" property="field128" />
    <result column="FIELD129" jdbcType="LONGVARCHAR" property="field129" />
    <result column="FIELD130" jdbcType="LONGVARCHAR" property="field130" />
    <result column="FIELD131" jdbcType="LONGVARCHAR" property="field131" />
    <result column="FIELD132" jdbcType="LONGVARCHAR" property="field132" />
    <result column="FIELD133" jdbcType="LONGVARCHAR" property="field133" />
    <result column="FIELD134" jdbcType="LONGVARCHAR" property="field134" />
    <result column="FIELD135" jdbcType="LONGVARCHAR" property="field135" />
    <result column="FIELD136" jdbcType="LONGVARCHAR" property="field136" />
    <result column="FIELD137" jdbcType="LONGVARCHAR" property="field137" />
    <result column="FIELD138" jdbcType="LONGVARCHAR" property="field138" />
    <result column="FIELD139" jdbcType="LONGVARCHAR" property="field139" />
    <result column="FIELD140" jdbcType="LONGVARCHAR" property="field140" />
    <result column="FIELD141" jdbcType="LONGVARCHAR" property="field141" />
    <result column="FIELD142" jdbcType="LONGVARCHAR" property="field142" />
    <result column="FIELD143" jdbcType="LONGVARCHAR" property="field143" />
    <result column="FIELD144" jdbcType="LONGVARCHAR" property="field144" />
    <result column="FIELD145" jdbcType="LONGVARCHAR" property="field145" />
    <result column="FIELD146" jdbcType="LONGVARCHAR" property="field146" />
    <result column="FIELD147" jdbcType="LONGVARCHAR" property="field147" />
    <result column="FIELD148" jdbcType="LONGVARCHAR" property="field148" />
    <result column="FIELD149" jdbcType="LONGVARCHAR" property="field149" />
    <result column="FIELD150" jdbcType="LONGVARCHAR" property="field150" />
    <result column="FIELD151" jdbcType="LONGVARCHAR" property="field151" />
    <result column="FIELD152" jdbcType="LONGVARCHAR" property="field152" />
    <result column="FIELD153" jdbcType="LONGVARCHAR" property="field153" />
    <result column="FIELD154" jdbcType="LONGVARCHAR" property="field154" />
    <result column="FIELD155" jdbcType="LONGVARCHAR" property="field155" />
    <result column="FIELD156" jdbcType="LONGVARCHAR" property="field156" />
    <result column="FIELD157" jdbcType="LONGVARCHAR" property="field157" />
    <result column="FIELD158" jdbcType="LONGVARCHAR" property="field158" />
    <result column="FIELD159" jdbcType="LONGVARCHAR" property="field159" />
    <result column="FIELD160" jdbcType="LONGVARCHAR" property="field160" />
    <result column="FIELD161" jdbcType="LONGVARCHAR" property="field161" />
    <result column="FIELD162" jdbcType="LONGVARCHAR" property="field162" />
    <result column="FIELD163" jdbcType="LONGVARCHAR" property="field163" />
    <result column="FIELD164" jdbcType="LONGVARCHAR" property="field164" />
    <result column="FIELD165" jdbcType="LONGVARCHAR" property="field165" />
    <result column="FIELD166" jdbcType="LONGVARCHAR" property="field166" />
    <result column="FIELD167" jdbcType="LONGVARCHAR" property="field167" />
    <result column="FIELD168" jdbcType="LONGVARCHAR" property="field168" />
    <result column="FIELD169" jdbcType="LONGVARCHAR" property="field169" />
    <result column="FIELD170" jdbcType="LONGVARCHAR" property="field170" />
    <result column="FIELD171" jdbcType="LONGVARCHAR" property="field171" />
    <result column="FIELD172" jdbcType="LONGVARCHAR" property="field172" />
    <result column="FIELD173" jdbcType="LONGVARCHAR" property="field173" />
    <result column="FIELD174" jdbcType="LONGVARCHAR" property="field174" />
    <result column="FIELD175" jdbcType="LONGVARCHAR" property="field175" />
    <result column="FIELD176" jdbcType="LONGVARCHAR" property="field176" />
    <result column="FIELD177" jdbcType="LONGVARCHAR" property="field177" />
    <result column="FIELD178" jdbcType="LONGVARCHAR" property="field178" />
    <result column="FIELD179" jdbcType="LONGVARCHAR" property="field179" />
    <result column="FIELD180" jdbcType="LONGVARCHAR" property="field180" />
    <result column="FIELD181" jdbcType="LONGVARCHAR" property="field181" />
    <result column="FIELD182" jdbcType="LONGVARCHAR" property="field182" />
    <result column="FIELD183" jdbcType="LONGVARCHAR" property="field183" />
    <result column="FIELD184" jdbcType="LONGVARCHAR" property="field184" />
    <result column="FIELD185" jdbcType="LONGVARCHAR" property="field185" />
    <result column="FIELD186" jdbcType="LONGVARCHAR" property="field186" />
    <result column="FIELD187" jdbcType="LONGVARCHAR" property="field187" />
    <result column="FIELD188" jdbcType="LONGVARCHAR" property="field188" />
    <result column="FIELD189" jdbcType="LONGVARCHAR" property="field189" />
    <result column="FIELD190" jdbcType="LONGVARCHAR" property="field190" />
    <result column="FIELD191" jdbcType="LONGVARCHAR" property="field191" />
    <result column="FIELD192" jdbcType="LONGVARCHAR" property="field192" />
    <result column="FIELD193" jdbcType="LONGVARCHAR" property="field193" />
    <result column="FIELD194" jdbcType="LONGVARCHAR" property="field194" />
    <result column="FIELD195" jdbcType="LONGVARCHAR" property="field195" />
    <result column="FIELD196" jdbcType="LONGVARCHAR" property="field196" />
    <result column="FIELD197" jdbcType="LONGVARCHAR" property="field197" />
    <result column="FIELD198" jdbcType="LONGVARCHAR" property="field198" />
    <result column="FIELD199" jdbcType="LONGVARCHAR" property="field199" />
    <result column="FIELD200" jdbcType="LONGVARCHAR" property="field200" />
    <result column="CURRPEOPLE" jdbcType="LONGVARCHAR" property="currpeople" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bo_filedsvalue${projectid}
    where SEQUENCE = #{sequence,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vnf.flow.model.BO_FILEDSVALUE">
    insert into bo_filedsvalue${projectid} (SEQUENCE, PROJECTID, CREATEBY,
      BRANCH, DATETIME, STATUS, 
      CURRDEPT, LASTDATE, QUEUENUM, 
      FIELD1, FIELD2, FIELD3, 
      FIELD4, FIELD5, FIELD6, 
      FIELD7, FIELD8, FIELD9, 
      FIELD10, FIELD11, FIELD12, 
      FIELD13, FIELD14, FIELD15, 
      FIELD16, FIELD17, FIELD18, 
      FIELD19, FIELD20, FIELD21, 
      FIELD22, FIELD23, FIELD24, 
      FIELD25, FIELD26, FIELD27, 
      FIELD28, FIELD29, FIELD30, 
      FIELD31, FIELD32, FIELD33, 
      FIELD34, FIELD35, FIELD36, 
      FIELD37, FIELD38, FIELD39, 
      FIELD40, FIELD41, FIELD42, 
      FIELD43, FIELD44, FIELD45, 
      FIELD46, FIELD47, FIELD48, 
      FIELD49, FIELD50, FIELD51, 
      FIELD52, FIELD53, FIELD54, 
      FIELD55, FIELD56, FIELD57, 
      FIELD58, FIELD59, FIELD60, 
      FIELD61, FIELD62, FIELD63, 
      FIELD64, FIELD65, FIELD66, 
      FIELD67, FIELD68, FIELD69, 
      FIELD70, FIELD71, FIELD72, 
      FIELD73, FIELD74, FIELD75, 
      FIELD76, FIELD77, FIELD78, 
      FIELD79, FIELD80, FIELD81, 
      FIELD82, FIELD83, FIELD84, 
      FIELD85, FIELD86, FIELD87, 
      FIELD88, FIELD89, FIELD90, 
      FIELD91, FIELD92, FIELD93, 
      FIELD94, FIELD95, FIELD96, 
      FIELD97, FIELD98, FIELD99, 
      FIELD100, FIELD101, FIELD102, 
      FIELD103, FIELD104, FIELD105, 
      FIELD106, FIELD107, FIELD108, 
      FIELD109, FIELD110, FIELD111, 
      FIELD112, FIELD113, FIELD114, 
      FIELD115, FIELD116, FIELD117, 
      FIELD118, FIELD119, FIELD120, 
      FIELD121, FIELD122, FIELD123, 
      FIELD124, FIELD125, FIELD126, 
      FIELD127, FIELD128, FIELD129, 
      FIELD130, FIELD131, FIELD132, 
      FIELD133, FIELD134, FIELD135, 
      FIELD136, FIELD137, FIELD138, 
      FIELD139, FIELD140, FIELD141, 
      FIELD142, FIELD143, FIELD144, 
      FIELD145, FIELD146, FIELD147, 
      FIELD148, FIELD149, FIELD150, 
      FIELD151, FIELD152, FIELD153, 
      FIELD154, FIELD155, FIELD156, 
      FIELD157, FIELD158, FIELD159, 
      FIELD160, FIELD161, FIELD162, 
      FIELD163, FIELD164, FIELD165, 
      FIELD166, FIELD167, FIELD168, 
      FIELD169, FIELD170, FIELD171, 
      FIELD172, FIELD173, FIELD174, 
      FIELD175, FIELD176, FIELD177, 
      FIELD178, FIELD179, FIELD180, 
      FIELD181, FIELD182, FIELD183, 
      FIELD184, FIELD185, FIELD186, 
      FIELD187, FIELD188, FIELD189, 
      FIELD190, FIELD191, FIELD192, 
      FIELD193, FIELD194, FIELD195, 
      FIELD196, FIELD197, FIELD198, 
      FIELD199, FIELD200, CURRPEOPLE
      )
    values (#{sequence,jdbcType=INTEGER}, #{projectid,jdbcType=INTEGER}, #{createby,jdbcType=VARCHAR}, 
      #{branch,jdbcType=VARCHAR}, #{datetime,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{currdept,jdbcType=VARCHAR}, #{lastdate,jdbcType=VARCHAR}, #{queuenum,jdbcType=VARCHAR}, 
      #{field1,jdbcType=LONGVARCHAR}, #{field2,jdbcType=LONGVARCHAR}, #{field3,jdbcType=LONGVARCHAR}, 
      #{field4,jdbcType=LONGVARCHAR}, #{field5,jdbcType=LONGVARCHAR}, #{field6,jdbcType=LONGVARCHAR}, 
      #{field7,jdbcType=LONGVARCHAR}, #{field8,jdbcType=LONGVARCHAR}, #{field9,jdbcType=LONGVARCHAR}, 
      #{field10,jdbcType=LONGVARCHAR}, #{field11,jdbcType=LONGVARCHAR}, #{field12,jdbcType=LONGVARCHAR}, 
      #{field13,jdbcType=LONGVARCHAR}, #{field14,jdbcType=LONGVARCHAR}, #{field15,jdbcType=LONGVARCHAR}, 
      #{field16,jdbcType=LONGVARCHAR}, #{field17,jdbcType=LONGVARCHAR}, #{field18,jdbcType=LONGVARCHAR}, 
      #{field19,jdbcType=LONGVARCHAR}, #{field20,jdbcType=LONGVARCHAR}, #{field21,jdbcType=LONGVARCHAR}, 
      #{field22,jdbcType=LONGVARCHAR}, #{field23,jdbcType=LONGVARCHAR}, #{field24,jdbcType=LONGVARCHAR}, 
      #{field25,jdbcType=LONGVARCHAR}, #{field26,jdbcType=LONGVARCHAR}, #{field27,jdbcType=LONGVARCHAR}, 
      #{field28,jdbcType=LONGVARCHAR}, #{field29,jdbcType=LONGVARCHAR}, #{field30,jdbcType=LONGVARCHAR}, 
      #{field31,jdbcType=LONGVARCHAR}, #{field32,jdbcType=LONGVARCHAR}, #{field33,jdbcType=LONGVARCHAR}, 
      #{field34,jdbcType=LONGVARCHAR}, #{field35,jdbcType=LONGVARCHAR}, #{field36,jdbcType=LONGVARCHAR}, 
      #{field37,jdbcType=LONGVARCHAR}, #{field38,jdbcType=LONGVARCHAR}, #{field39,jdbcType=LONGVARCHAR}, 
      #{field40,jdbcType=LONGVARCHAR}, #{field41,jdbcType=LONGVARCHAR}, #{field42,jdbcType=LONGVARCHAR}, 
      #{field43,jdbcType=LONGVARCHAR}, #{field44,jdbcType=LONGVARCHAR}, #{field45,jdbcType=LONGVARCHAR}, 
      #{field46,jdbcType=LONGVARCHAR}, #{field47,jdbcType=LONGVARCHAR}, #{field48,jdbcType=LONGVARCHAR}, 
      #{field49,jdbcType=LONGVARCHAR}, #{field50,jdbcType=LONGVARCHAR}, #{field51,jdbcType=LONGVARCHAR}, 
      #{field52,jdbcType=LONGVARCHAR}, #{field53,jdbcType=LONGVARCHAR}, #{field54,jdbcType=LONGVARCHAR}, 
      #{field55,jdbcType=LONGVARCHAR}, #{field56,jdbcType=LONGVARCHAR}, #{field57,jdbcType=LONGVARCHAR}, 
      #{field58,jdbcType=LONGVARCHAR}, #{field59,jdbcType=LONGVARCHAR}, #{field60,jdbcType=LONGVARCHAR}, 
      #{field61,jdbcType=LONGVARCHAR}, #{field62,jdbcType=LONGVARCHAR}, #{field63,jdbcType=LONGVARCHAR}, 
      #{field64,jdbcType=LONGVARCHAR}, #{field65,jdbcType=LONGVARCHAR}, #{field66,jdbcType=LONGVARCHAR}, 
      #{field67,jdbcType=LONGVARCHAR}, #{field68,jdbcType=LONGVARCHAR}, #{field69,jdbcType=LONGVARCHAR}, 
      #{field70,jdbcType=LONGVARCHAR}, #{field71,jdbcType=LONGVARCHAR}, #{field72,jdbcType=LONGVARCHAR}, 
      #{field73,jdbcType=LONGVARCHAR}, #{field74,jdbcType=LONGVARCHAR}, #{field75,jdbcType=LONGVARCHAR}, 
      #{field76,jdbcType=LONGVARCHAR}, #{field77,jdbcType=LONGVARCHAR}, #{field78,jdbcType=LONGVARCHAR}, 
      #{field79,jdbcType=LONGVARCHAR}, #{field80,jdbcType=LONGVARCHAR}, #{field81,jdbcType=LONGVARCHAR}, 
      #{field82,jdbcType=LONGVARCHAR}, #{field83,jdbcType=LONGVARCHAR}, #{field84,jdbcType=LONGVARCHAR}, 
      #{field85,jdbcType=LONGVARCHAR}, #{field86,jdbcType=LONGVARCHAR}, #{field87,jdbcType=LONGVARCHAR}, 
      #{field88,jdbcType=LONGVARCHAR}, #{field89,jdbcType=LONGVARCHAR}, #{field90,jdbcType=LONGVARCHAR}, 
      #{field91,jdbcType=LONGVARCHAR}, #{field92,jdbcType=LONGVARCHAR}, #{field93,jdbcType=LONGVARCHAR}, 
      #{field94,jdbcType=LONGVARCHAR}, #{field95,jdbcType=LONGVARCHAR}, #{field96,jdbcType=LONGVARCHAR}, 
      #{field97,jdbcType=LONGVARCHAR}, #{field98,jdbcType=LONGVARCHAR}, #{field99,jdbcType=LONGVARCHAR}, 
      #{field100,jdbcType=LONGVARCHAR}, #{field101,jdbcType=LONGVARCHAR}, #{field102,jdbcType=LONGVARCHAR}, 
      #{field103,jdbcType=LONGVARCHAR}, #{field104,jdbcType=LONGVARCHAR}, #{field105,jdbcType=LONGVARCHAR}, 
      #{field106,jdbcType=LONGVARCHAR}, #{field107,jdbcType=LONGVARCHAR}, #{field108,jdbcType=LONGVARCHAR}, 
      #{field109,jdbcType=LONGVARCHAR}, #{field110,jdbcType=LONGVARCHAR}, #{field111,jdbcType=LONGVARCHAR}, 
      #{field112,jdbcType=LONGVARCHAR}, #{field113,jdbcType=LONGVARCHAR}, #{field114,jdbcType=LONGVARCHAR}, 
      #{field115,jdbcType=LONGVARCHAR}, #{field116,jdbcType=LONGVARCHAR}, #{field117,jdbcType=LONGVARCHAR}, 
      #{field118,jdbcType=LONGVARCHAR}, #{field119,jdbcType=LONGVARCHAR}, #{field120,jdbcType=LONGVARCHAR}, 
      #{field121,jdbcType=LONGVARCHAR}, #{field122,jdbcType=LONGVARCHAR}, #{field123,jdbcType=LONGVARCHAR}, 
      #{field124,jdbcType=LONGVARCHAR}, #{field125,jdbcType=LONGVARCHAR}, #{field126,jdbcType=LONGVARCHAR}, 
      #{field127,jdbcType=LONGVARCHAR}, #{field128,jdbcType=LONGVARCHAR}, #{field129,jdbcType=LONGVARCHAR}, 
      #{field130,jdbcType=LONGVARCHAR}, #{field131,jdbcType=LONGVARCHAR}, #{field132,jdbcType=LONGVARCHAR}, 
      #{field133,jdbcType=LONGVARCHAR}, #{field134,jdbcType=LONGVARCHAR}, #{field135,jdbcType=LONGVARCHAR}, 
      #{field136,jdbcType=LONGVARCHAR}, #{field137,jdbcType=LONGVARCHAR}, #{field138,jdbcType=LONGVARCHAR}, 
      #{field139,jdbcType=LONGVARCHAR}, #{field140,jdbcType=LONGVARCHAR}, #{field141,jdbcType=LONGVARCHAR}, 
      #{field142,jdbcType=LONGVARCHAR}, #{field143,jdbcType=LONGVARCHAR}, #{field144,jdbcType=LONGVARCHAR}, 
      #{field145,jdbcType=LONGVARCHAR}, #{field146,jdbcType=LONGVARCHAR}, #{field147,jdbcType=LONGVARCHAR}, 
      #{field148,jdbcType=LONGVARCHAR}, #{field149,jdbcType=LONGVARCHAR}, #{field150,jdbcType=LONGVARCHAR}, 
      #{field151,jdbcType=LONGVARCHAR}, #{field152,jdbcType=LONGVARCHAR}, #{field153,jdbcType=LONGVARCHAR}, 
      #{field154,jdbcType=LONGVARCHAR}, #{field155,jdbcType=LONGVARCHAR}, #{field156,jdbcType=LONGVARCHAR}, 
      #{field157,jdbcType=LONGVARCHAR}, #{field158,jdbcType=LONGVARCHAR}, #{field159,jdbcType=LONGVARCHAR}, 
      #{field160,jdbcType=LONGVARCHAR}, #{field161,jdbcType=LONGVARCHAR}, #{field162,jdbcType=LONGVARCHAR}, 
      #{field163,jdbcType=LONGVARCHAR}, #{field164,jdbcType=LONGVARCHAR}, #{field165,jdbcType=LONGVARCHAR}, 
      #{field166,jdbcType=LONGVARCHAR}, #{field167,jdbcType=LONGVARCHAR}, #{field168,jdbcType=LONGVARCHAR}, 
      #{field169,jdbcType=LONGVARCHAR}, #{field170,jdbcType=LONGVARCHAR}, #{field171,jdbcType=LONGVARCHAR}, 
      #{field172,jdbcType=LONGVARCHAR}, #{field173,jdbcType=LONGVARCHAR}, #{field174,jdbcType=LONGVARCHAR}, 
      #{field175,jdbcType=LONGVARCHAR}, #{field176,jdbcType=LONGVARCHAR}, #{field177,jdbcType=LONGVARCHAR}, 
      #{field178,jdbcType=LONGVARCHAR}, #{field179,jdbcType=LONGVARCHAR}, #{field180,jdbcType=LONGVARCHAR}, 
      #{field181,jdbcType=LONGVARCHAR}, #{field182,jdbcType=LONGVARCHAR}, #{field183,jdbcType=LONGVARCHAR}, 
      #{field184,jdbcType=LONGVARCHAR}, #{field185,jdbcType=LONGVARCHAR}, #{field186,jdbcType=LONGVARCHAR}, 
      #{field187,jdbcType=LONGVARCHAR}, #{field188,jdbcType=LONGVARCHAR}, #{field189,jdbcType=LONGVARCHAR}, 
      #{field190,jdbcType=LONGVARCHAR}, #{field191,jdbcType=LONGVARCHAR}, #{field192,jdbcType=LONGVARCHAR}, 
      #{field193,jdbcType=LONGVARCHAR}, #{field194,jdbcType=LONGVARCHAR}, #{field195,jdbcType=LONGVARCHAR}, 
      #{field196,jdbcType=LONGVARCHAR}, #{field197,jdbcType=LONGVARCHAR}, #{field198,jdbcType=LONGVARCHAR}, 
      #{field199,jdbcType=LONGVARCHAR}, #{field200,jdbcType=LONGVARCHAR}, #{currpeople,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vnf.flow.model.BO_FILEDSVALUE">
    update bo_filedsvalue${projectid}
    set PROJECTID = #{projectid,jdbcType=INTEGER},
      CREATEBY = #{createby,jdbcType=VARCHAR},
      BRANCH = #{branch,jdbcType=VARCHAR},
      DATETIME = #{datetime,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CURRDEPT = #{currdept,jdbcType=VARCHAR},
      LASTDATE = #{lastdate,jdbcType=VARCHAR},
      QUEUENUM = #{queuenum,jdbcType=VARCHAR},
      FIELD1 = #{field1,jdbcType=LONGVARCHAR},
      FIELD2 = #{field2,jdbcType=LONGVARCHAR},
      FIELD3 = #{field3,jdbcType=LONGVARCHAR},
      FIELD4 = #{field4,jdbcType=LONGVARCHAR},
      FIELD5 = #{field5,jdbcType=LONGVARCHAR},
      FIELD6 = #{field6,jdbcType=LONGVARCHAR},
      FIELD7 = #{field7,jdbcType=LONGVARCHAR},
      FIELD8 = #{field8,jdbcType=LONGVARCHAR},
      FIELD9 = #{field9,jdbcType=LONGVARCHAR},
      FIELD10 = #{field10,jdbcType=LONGVARCHAR},
      FIELD11 = #{field11,jdbcType=LONGVARCHAR},
      FIELD12 = #{field12,jdbcType=LONGVARCHAR},
      FIELD13 = #{field13,jdbcType=LONGVARCHAR},
      FIELD14 = #{field14,jdbcType=LONGVARCHAR},
      FIELD15 = #{field15,jdbcType=LONGVARCHAR},
      FIELD16 = #{field16,jdbcType=LONGVARCHAR},
      FIELD17 = #{field17,jdbcType=LONGVARCHAR},
      FIELD18 = #{field18,jdbcType=LONGVARCHAR},
      FIELD19 = #{field19,jdbcType=LONGVARCHAR},
      FIELD20 = #{field20,jdbcType=LONGVARCHAR},
      FIELD21 = #{field21,jdbcType=LONGVARCHAR},
      FIELD22 = #{field22,jdbcType=LONGVARCHAR},
      FIELD23 = #{field23,jdbcType=LONGVARCHAR},
      FIELD24 = #{field24,jdbcType=LONGVARCHAR},
      FIELD25 = #{field25,jdbcType=LONGVARCHAR},
      FIELD26 = #{field26,jdbcType=LONGVARCHAR},
      FIELD27 = #{field27,jdbcType=LONGVARCHAR},
      FIELD28 = #{field28,jdbcType=LONGVARCHAR},
      FIELD29 = #{field29,jdbcType=LONGVARCHAR},
      FIELD30 = #{field30,jdbcType=LONGVARCHAR},
      FIELD31 = #{field31,jdbcType=LONGVARCHAR},
      FIELD32 = #{field32,jdbcType=LONGVARCHAR},
      FIELD33 = #{field33,jdbcType=LONGVARCHAR},
      FIELD34 = #{field34,jdbcType=LONGVARCHAR},
      FIELD35 = #{field35,jdbcType=LONGVARCHAR},
      FIELD36 = #{field36,jdbcType=LONGVARCHAR},
      FIELD37 = #{field37,jdbcType=LONGVARCHAR},
      FIELD38 = #{field38,jdbcType=LONGVARCHAR},
      FIELD39 = #{field39,jdbcType=LONGVARCHAR},
      FIELD40 = #{field40,jdbcType=LONGVARCHAR},
      FIELD41 = #{field41,jdbcType=LONGVARCHAR},
      FIELD42 = #{field42,jdbcType=LONGVARCHAR},
      FIELD43 = #{field43,jdbcType=LONGVARCHAR},
      FIELD44 = #{field44,jdbcType=LONGVARCHAR},
      FIELD45 = #{field45,jdbcType=LONGVARCHAR},
      FIELD46 = #{field46,jdbcType=LONGVARCHAR},
      FIELD47 = #{field47,jdbcType=LONGVARCHAR},
      FIELD48 = #{field48,jdbcType=LONGVARCHAR},
      FIELD49 = #{field49,jdbcType=LONGVARCHAR},
      FIELD50 = #{field50,jdbcType=LONGVARCHAR},
      FIELD51 = #{field51,jdbcType=LONGVARCHAR},
      FIELD52 = #{field52,jdbcType=LONGVARCHAR},
      FIELD53 = #{field53,jdbcType=LONGVARCHAR},
      FIELD54 = #{field54,jdbcType=LONGVARCHAR},
      FIELD55 = #{field55,jdbcType=LONGVARCHAR},
      FIELD56 = #{field56,jdbcType=LONGVARCHAR},
      FIELD57 = #{field57,jdbcType=LONGVARCHAR},
      FIELD58 = #{field58,jdbcType=LONGVARCHAR},
      FIELD59 = #{field59,jdbcType=LONGVARCHAR},
      FIELD60 = #{field60,jdbcType=LONGVARCHAR},
      FIELD61 = #{field61,jdbcType=LONGVARCHAR},
      FIELD62 = #{field62,jdbcType=LONGVARCHAR},
      FIELD63 = #{field63,jdbcType=LONGVARCHAR},
      FIELD64 = #{field64,jdbcType=LONGVARCHAR},
      FIELD65 = #{field65,jdbcType=LONGVARCHAR},
      FIELD66 = #{field66,jdbcType=LONGVARCHAR},
      FIELD67 = #{field67,jdbcType=LONGVARCHAR},
      FIELD68 = #{field68,jdbcType=LONGVARCHAR},
      FIELD69 = #{field69,jdbcType=LONGVARCHAR},
      FIELD70 = #{field70,jdbcType=LONGVARCHAR},
      FIELD71 = #{field71,jdbcType=LONGVARCHAR},
      FIELD72 = #{field72,jdbcType=LONGVARCHAR},
      FIELD73 = #{field73,jdbcType=LONGVARCHAR},
      FIELD74 = #{field74,jdbcType=LONGVARCHAR},
      FIELD75 = #{field75,jdbcType=LONGVARCHAR},
      FIELD76 = #{field76,jdbcType=LONGVARCHAR},
      FIELD77 = #{field77,jdbcType=LONGVARCHAR},
      FIELD78 = #{field78,jdbcType=LONGVARCHAR},
      FIELD79 = #{field79,jdbcType=LONGVARCHAR},
      FIELD80 = #{field80,jdbcType=LONGVARCHAR},
      FIELD81 = #{field81,jdbcType=LONGVARCHAR},
      FIELD82 = #{field82,jdbcType=LONGVARCHAR},
      FIELD83 = #{field83,jdbcType=LONGVARCHAR},
      FIELD84 = #{field84,jdbcType=LONGVARCHAR},
      FIELD85 = #{field85,jdbcType=LONGVARCHAR},
      FIELD86 = #{field86,jdbcType=LONGVARCHAR},
      FIELD87 = #{field87,jdbcType=LONGVARCHAR},
      FIELD88 = #{field88,jdbcType=LONGVARCHAR},
      FIELD89 = #{field89,jdbcType=LONGVARCHAR},
      FIELD90 = #{field90,jdbcType=LONGVARCHAR},
      FIELD91 = #{field91,jdbcType=LONGVARCHAR},
      FIELD92 = #{field92,jdbcType=LONGVARCHAR},
      FIELD93 = #{field93,jdbcType=LONGVARCHAR},
      FIELD94 = #{field94,jdbcType=LONGVARCHAR},
      FIELD95 = #{field95,jdbcType=LONGVARCHAR},
      FIELD96 = #{field96,jdbcType=LONGVARCHAR},
      FIELD97 = #{field97,jdbcType=LONGVARCHAR},
      FIELD98 = #{field98,jdbcType=LONGVARCHAR},
      FIELD99 = #{field99,jdbcType=LONGVARCHAR},
      FIELD100 = #{field100,jdbcType=LONGVARCHAR},
      FIELD101 = #{field101,jdbcType=LONGVARCHAR},
      FIELD102 = #{field102,jdbcType=LONGVARCHAR},
      FIELD103 = #{field103,jdbcType=LONGVARCHAR},
      FIELD104 = #{field104,jdbcType=LONGVARCHAR},
      FIELD105 = #{field105,jdbcType=LONGVARCHAR},
      FIELD106 = #{field106,jdbcType=LONGVARCHAR},
      FIELD107 = #{field107,jdbcType=LONGVARCHAR},
      FIELD108 = #{field108,jdbcType=LONGVARCHAR},
      FIELD109 = #{field109,jdbcType=LONGVARCHAR},
      FIELD110 = #{field110,jdbcType=LONGVARCHAR},
      FIELD111 = #{field111,jdbcType=LONGVARCHAR},
      FIELD112 = #{field112,jdbcType=LONGVARCHAR},
      FIELD113 = #{field113,jdbcType=LONGVARCHAR},
      FIELD114 = #{field114,jdbcType=LONGVARCHAR},
      FIELD115 = #{field115,jdbcType=LONGVARCHAR},
      FIELD116 = #{field116,jdbcType=LONGVARCHAR},
      FIELD117 = #{field117,jdbcType=LONGVARCHAR},
      FIELD118 = #{field118,jdbcType=LONGVARCHAR},
      FIELD119 = #{field119,jdbcType=LONGVARCHAR},
      FIELD120 = #{field120,jdbcType=LONGVARCHAR},
      FIELD121 = #{field121,jdbcType=LONGVARCHAR},
      FIELD122 = #{field122,jdbcType=LONGVARCHAR},
      FIELD123 = #{field123,jdbcType=LONGVARCHAR},
      FIELD124 = #{field124,jdbcType=LONGVARCHAR},
      FIELD125 = #{field125,jdbcType=LONGVARCHAR},
      FIELD126 = #{field126,jdbcType=LONGVARCHAR},
      FIELD127 = #{field127,jdbcType=LONGVARCHAR},
      FIELD128 = #{field128,jdbcType=LONGVARCHAR},
      FIELD129 = #{field129,jdbcType=LONGVARCHAR},
      FIELD130 = #{field130,jdbcType=LONGVARCHAR},
      FIELD131 = #{field131,jdbcType=LONGVARCHAR},
      FIELD132 = #{field132,jdbcType=LONGVARCHAR},
      FIELD133 = #{field133,jdbcType=LONGVARCHAR},
      FIELD134 = #{field134,jdbcType=LONGVARCHAR},
      FIELD135 = #{field135,jdbcType=LONGVARCHAR},
      FIELD136 = #{field136,jdbcType=LONGVARCHAR},
      FIELD137 = #{field137,jdbcType=LONGVARCHAR},
      FIELD138 = #{field138,jdbcType=LONGVARCHAR},
      FIELD139 = #{field139,jdbcType=LONGVARCHAR},
      FIELD140 = #{field140,jdbcType=LONGVARCHAR},
      FIELD141 = #{field141,jdbcType=LONGVARCHAR},
      FIELD142 = #{field142,jdbcType=LONGVARCHAR},
      FIELD143 = #{field143,jdbcType=LONGVARCHAR},
      FIELD144 = #{field144,jdbcType=LONGVARCHAR},
      FIELD145 = #{field145,jdbcType=LONGVARCHAR},
      FIELD146 = #{field146,jdbcType=LONGVARCHAR},
      FIELD147 = #{field147,jdbcType=LONGVARCHAR},
      FIELD148 = #{field148,jdbcType=LONGVARCHAR},
      FIELD149 = #{field149,jdbcType=LONGVARCHAR},
      FIELD150 = #{field150,jdbcType=LONGVARCHAR},
      FIELD151 = #{field151,jdbcType=LONGVARCHAR},
      FIELD152 = #{field152,jdbcType=LONGVARCHAR},
      FIELD153 = #{field153,jdbcType=LONGVARCHAR},
      FIELD154 = #{field154,jdbcType=LONGVARCHAR},
      FIELD155 = #{field155,jdbcType=LONGVARCHAR},
      FIELD156 = #{field156,jdbcType=LONGVARCHAR},
      FIELD157 = #{field157,jdbcType=LONGVARCHAR},
      FIELD158 = #{field158,jdbcType=LONGVARCHAR},
      FIELD159 = #{field159,jdbcType=LONGVARCHAR},
      FIELD160 = #{field160,jdbcType=LONGVARCHAR},
      FIELD161 = #{field161,jdbcType=LONGVARCHAR},
      FIELD162 = #{field162,jdbcType=LONGVARCHAR},
      FIELD163 = #{field163,jdbcType=LONGVARCHAR},
      FIELD164 = #{field164,jdbcType=LONGVARCHAR},
      FIELD165 = #{field165,jdbcType=LONGVARCHAR},
      FIELD166 = #{field166,jdbcType=LONGVARCHAR},
      FIELD167 = #{field167,jdbcType=LONGVARCHAR},
      FIELD168 = #{field168,jdbcType=LONGVARCHAR},
      FIELD169 = #{field169,jdbcType=LONGVARCHAR},
      FIELD170 = #{field170,jdbcType=LONGVARCHAR},
      FIELD171 = #{field171,jdbcType=LONGVARCHAR},
      FIELD172 = #{field172,jdbcType=LONGVARCHAR},
      FIELD173 = #{field173,jdbcType=LONGVARCHAR},
      FIELD174 = #{field174,jdbcType=LONGVARCHAR},
      FIELD175 = #{field175,jdbcType=LONGVARCHAR},
      FIELD176 = #{field176,jdbcType=LONGVARCHAR},
      FIELD177 = #{field177,jdbcType=LONGVARCHAR},
      FIELD178 = #{field178,jdbcType=LONGVARCHAR},
      FIELD179 = #{field179,jdbcType=LONGVARCHAR},
      FIELD180 = #{field180,jdbcType=LONGVARCHAR},
      FIELD181 = #{field181,jdbcType=LONGVARCHAR},
      FIELD182 = #{field182,jdbcType=LONGVARCHAR},
      FIELD183 = #{field183,jdbcType=LONGVARCHAR},
      FIELD184 = #{field184,jdbcType=LONGVARCHAR},
      FIELD185 = #{field185,jdbcType=LONGVARCHAR},
      FIELD186 = #{field186,jdbcType=LONGVARCHAR},
      FIELD187 = #{field187,jdbcType=LONGVARCHAR},
      FIELD188 = #{field188,jdbcType=LONGVARCHAR},
      FIELD189 = #{field189,jdbcType=LONGVARCHAR},
      FIELD190 = #{field190,jdbcType=LONGVARCHAR},
      FIELD191 = #{field191,jdbcType=LONGVARCHAR},
      FIELD192 = #{field192,jdbcType=LONGVARCHAR},
      FIELD193 = #{field193,jdbcType=LONGVARCHAR},
      FIELD194 = #{field194,jdbcType=LONGVARCHAR},
      FIELD195 = #{field195,jdbcType=LONGVARCHAR},
      FIELD196 = #{field196,jdbcType=LONGVARCHAR},
      FIELD197 = #{field197,jdbcType=LONGVARCHAR},
      FIELD198 = #{field198,jdbcType=LONGVARCHAR},
      FIELD199 = #{field199,jdbcType=LONGVARCHAR},
      FIELD200 = #{field200,jdbcType=LONGVARCHAR},
      CURRPEOPLE = #{currpeople,jdbcType=LONGVARCHAR}
    where SEQUENCE = #{sequence,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap" statementType="CALLABLE">
    select SEQUENCE, PROJECTID, CREATEBY, BRANCH, DATETIME, STATUS, CURRDEPT, LASTDATE, 
    QUEUENUM, FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6, FIELD7, FIELD8, FIELD9, 
    FIELD10, FIELD11, FIELD12, FIELD13, FIELD14, FIELD15, FIELD16, FIELD17, FIELD18, 
    FIELD19, FIELD20, FIELD21, FIELD22, FIELD23, FIELD24, FIELD25, FIELD26, FIELD27, 
    FIELD28, FIELD29, FIELD30, FIELD31, FIELD32, FIELD33, FIELD34, FIELD35, FIELD36, 
    FIELD37, FIELD38, FIELD39, FIELD40, FIELD41, FIELD42, FIELD43, FIELD44, FIELD45, 
    FIELD46, FIELD47, FIELD48, FIELD49, FIELD50, FIELD51, FIELD52, FIELD53, FIELD54, 
    FIELD55, FIELD56, FIELD57, FIELD58, FIELD59, FIELD60, FIELD61, FIELD62, FIELD63, 
    FIELD64, FIELD65, FIELD66, FIELD67, FIELD68, FIELD69, FIELD70, FIELD71, FIELD72, 
    FIELD73, FIELD74, FIELD75, FIELD76, FIELD77, FIELD78, FIELD79, FIELD80, FIELD81, 
    FIELD82, FIELD83, FIELD84, FIELD85, FIELD86, FIELD87, FIELD88, FIELD89, FIELD90, 
    FIELD91, FIELD92, FIELD93, FIELD94, FIELD95, FIELD96, FIELD97, FIELD98, FIELD99, 
    FIELD100, FIELD101, FIELD102, FIELD103, FIELD104, FIELD105, FIELD106, FIELD107, FIELD108, 
    FIELD109, FIELD110, FIELD111, FIELD112, FIELD113, FIELD114, FIELD115, FIELD116, FIELD117, 
    FIELD118, FIELD119, FIELD120, FIELD121, FIELD122, FIELD123, FIELD124, FIELD125, FIELD126, 
    FIELD127, FIELD128, FIELD129, FIELD130, FIELD131, FIELD132, FIELD133, FIELD134, FIELD135, 
    FIELD136, FIELD137, FIELD138, FIELD139, FIELD140, FIELD141, FIELD142, FIELD143, FIELD144, 
    FIELD145, FIELD146, FIELD147, FIELD148, FIELD149, FIELD150, FIELD151, FIELD152, FIELD153, 
    FIELD154, FIELD155, FIELD156, FIELD157, FIELD158, FIELD159, FIELD160, FIELD161, FIELD162, 
    FIELD163, FIELD164, FIELD165, FIELD166, FIELD167, FIELD168, FIELD169, FIELD170, FIELD171, 
    FIELD172, FIELD173, FIELD174, FIELD175, FIELD176, FIELD177, FIELD178, FIELD179, FIELD180, 
    FIELD181, FIELD182, FIELD183, FIELD184, FIELD185, FIELD186, FIELD187, FIELD188, FIELD189, 
    FIELD190, FIELD191, FIELD192, FIELD193, FIELD194, FIELD195, FIELD196, FIELD197, FIELD198, 
    FIELD199, FIELD200, CURRPEOPLE
    from bo_filedsvalue${projectid}
    where SEQUENCE = #{sequence,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap" statementType="CALLABLE">
    select SEQUENCE, PROJECTID, CREATEBY, BRANCH, DATETIME, STATUS, CURRDEPT, LASTDATE, 
    QUEUENUM, FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6, FIELD7, FIELD8, FIELD9, 
    FIELD10, FIELD11, FIELD12, FIELD13, FIELD14, FIELD15, FIELD16, FIELD17, FIELD18, 
    FIELD19, FIELD20, FIELD21, FIELD22, FIELD23, FIELD24, FIELD25, FIELD26, FIELD27, 
    FIELD28, FIELD29, FIELD30, FIELD31, FIELD32, FIELD33, FIELD34, FIELD35, FIELD36, 
    FIELD37, FIELD38, FIELD39, FIELD40, FIELD41, FIELD42, FIELD43, FIELD44, FIELD45, 
    FIELD46, FIELD47, FIELD48, FIELD49, FIELD50, FIELD51, FIELD52, FIELD53, FIELD54, 
    FIELD55, FIELD56, FIELD57, FIELD58, FIELD59, FIELD60, FIELD61, FIELD62, FIELD63, 
    FIELD64, FIELD65, FIELD66, FIELD67, FIELD68, FIELD69, FIELD70, FIELD71, FIELD72, 
    FIELD73, FIELD74, FIELD75, FIELD76, FIELD77, FIELD78, FIELD79, FIELD80, FIELD81, 
    FIELD82, FIELD83, FIELD84, FIELD85, FIELD86, FIELD87, FIELD88, FIELD89, FIELD90, 
    FIELD91, FIELD92, FIELD93, FIELD94, FIELD95, FIELD96, FIELD97, FIELD98, FIELD99, 
    FIELD100, FIELD101, FIELD102, FIELD103, FIELD104, FIELD105, FIELD106, FIELD107, FIELD108, 
    FIELD109, FIELD110, FIELD111, FIELD112, FIELD113, FIELD114, FIELD115, FIELD116, FIELD117, 
    FIELD118, FIELD119, FIELD120, FIELD121, FIELD122, FIELD123, FIELD124, FIELD125, FIELD126, 
    FIELD127, FIELD128, FIELD129, FIELD130, FIELD131, FIELD132, FIELD133, FIELD134, FIELD135, 
    FIELD136, FIELD137, FIELD138, FIELD139, FIELD140, FIELD141, FIELD142, FIELD143, FIELD144, 
    FIELD145, FIELD146, FIELD147, FIELD148, FIELD149, FIELD150, FIELD151, FIELD152, FIELD153, 
    FIELD154, FIELD155, FIELD156, FIELD157, FIELD158, FIELD159, FIELD160, FIELD161, FIELD162, 
    FIELD163, FIELD164, FIELD165, FIELD166, FIELD167, FIELD168, FIELD169, FIELD170, FIELD171, 
    FIELD172, FIELD173, FIELD174, FIELD175, FIELD176, FIELD177, FIELD178, FIELD179, FIELD180, 
    FIELD181, FIELD182, FIELD183, FIELD184, FIELD185, FIELD186, FIELD187, FIELD188, FIELD189, 
    FIELD190, FIELD191, FIELD192, FIELD193, FIELD194, FIELD195, FIELD196, FIELD197, FIELD198, 
    FIELD199, FIELD200, CURRPEOPLE
    from bo_filedsvalue${projectid}
  </select>
</mapper>